# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Build BopNet

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --no-restore --configuration Release

    - name: Publish (Linux x64)
      run: dotnet publish BopNet/BopNet.csproj -c Release -r linux-x64 --self-contained true --framework net8.0 /p:PublishSingleFile=true /p:PublishReadyToRun=true /p:UseAppHost=true -o ./BopNet/Release
          
    - name: Copy appsettings.json to publish folder
      run: cp appsettings.json ./BopNet/Release

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: BopNet-linux-x64
        path: ./BopNet/Release
          
  docker:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: BopNet-linux-x64
          path: ./BopNet/Release

      - name: Build Docker image
        run: docker build -t bopnet-image ./BopNet/Release

      - name: Save Docker image as tar
        run: docker save bopnet-image -o bopnet-image.tar

      - name: Upload Docker image tar
        uses: actions/upload-artifact@v4
        with:
          name: bopnet-image
          path: bopnet-image.tar